.product-card__board
  .product-card__container
    header.product-card__header
      .product-card__label #{items.label}
    .product-card__body
      h2.product-card__name #{items.name}
      p.product-card__taste #{items.taste}
      p.product-card__quantity #{items.quantity}
      p.product-card__bonus #{items.bonus}
      if (!items.available)
        p.product-card__customer-state #{items.customerState}
    footer.product-card__footer
      .product-card__weight #{items.weight}
        .product-card__weight-measure #{items.weightMeasure}
.product-card__signatures-box
  if (!items.available)
    p.signature-origins.signature-hidden
      | #{items.signature.default}
      a.product-card__buy-btn #{items.signature.defaultBtn}
    p.signature-selected.signature-hidden
      | #{items.signature.selected}
    p.signature-disabled
      | #{items.signature.disabled}
  else
    p.signature-origin
      | #{items.signature.default}
      a.product-card__buy-btn #{items.signature.defaultBtn}
    p.signature-selected.signature-hidden
      | #{items.signature.selected}
    p.signature-disabled.signature-hidden
      | #{items.signature.disabled}