-
  var productData = [
    {
      "label" : "Сказочное заморское яство",
      "name" : "Нямушка",
      "taste" : "c фуа-гра",
      "quantity" : "10 порций",
      "bonus" : "мышь в подарок",
      "weight" : "0,5",
      "weightMeasure" : "кг",
      "signDefault" : "Чего сидишь? Порадуй котэ, ",
      "buyBtn" : "купи",
      "available" : true
    },
    {
      "label" : "Сказочное заморское яство",
      "name" : "Нямушка",
      "taste" : "c рыбой",
      "quantity" : "40 порций",
      "bonus" : "2 мыши в подарок",
      "weight" : "2",
      "weightMeasure" : "кг",
      "signDefault" : "Чего сидишь? Порадуй котэ, ",
      "buyBtn" : "купи",
      "available" : true
    },
    {
      "label" : "Сказочное заморское яство",
      "name" : "Нямушка",
      "taste" : "c курой",
      "quantity" : "100 порций",
      "bonus" : "5 мышей в подарок",
      "weight" : "5",
      "weightMeasure" : "кг",
      "customerState" : "заказчик доволен",
      "signDefault" : "Чего сидишь? Порадуй котэ, ",
      "buyBtn" : "купи",
      "available" : false
    }
  ]

for items in productData
  figure.product-card
    .product-card__board
      .product-card__container
        header.product-card__header
          .product-card__label #{items.label}
        .product-card__body
          h2.product-card__name #{items.name}
          p.product-card__taste #{items.taste}
          p.product-card__quantity #{items.quantity}
          p.product-card__bonus #{items.bonus}
        footer.product-card__footer
          .product-card__weight #{items.weight}
            .product-card__weight-measure #{items.weightMeasure}
    p.product-card__signature
      | #{items.signDefault}
      a.product-card__buy-btn #{items.buyBtn}





